In [48]:
import pandas as pd

In [49]:
DATAFILE = '../data/48.flows'

In [50]:
data = pd.read_csv(DATAFILE, delimiter='|', header='infer')

In [51]:
data[['FLOW_START_MILLISECONDS', 'FLOW_END_MILLISECONDS']]

        FLOW_START_MILLISECONDS  FLOW_END_MILLISECONDS
0                 1660934932096          1660934932096
1                 1660934932096          1660934932096
2                 1660934932096          1660934932096
3                 1660934932097          1660934932097
4                 1660934932097          1660934932097
...                         ...                    ...
186410            1660934937871          1660934938070
186411            1660934937871          1660934938189
186412            1660934937871          1660934938955
186413            1660934937872          1660934939601
186414            1660934937872          1660934938809

[186415 rows x 2 columns]

In [52]:
data['FLOW_END_MILLISECONDS'].is_monotonic_increasing

False

In [56]:
data_sorted = data.sort_values(by='FLOW_END_MILLISECONDS', ignore_index=True, kind='stable')

In [61]:
(data == data_sorted).all(axis=1).sum() == len(data)

False

OK, seems like data are not sorted by ending timestamp...